**/.git
**/.gitignore
**/.github
**/.vscode
**/node_modules
node_modules
.git
.github
.vscode
package-lock.json
src/**
!src/webview/index.html
tsconfig.json
esbuild.js
.eslintrc.json
.prettierrc
*.ts
*.map
**/*.test.js
**/*.test.ts
.gitignore
README.md
CHANGELOG.md

